body {
	color:#333333;
	background-color:#eeeeee;
	text-align:center;
	font-family:Helvetica;
	font-weight:100;"
}

.container {
	margin-top:3rem;
	margin-left:auto;
	margin-right:auto;
}
.logogram {
	width:20%;
	margin-bottom:1.5rem;
}
.logotext {
	width:80%;
	margin-bottom:1.5rem;
}
.promo {
	font-size:1.4em;
}
.icon {
	width:40px;
	height:auto;
}
.break {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #cccccc;
}
.button {
	margin: 0 10px 0 10px;
}